*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#meuCanvas{

    border: 1px solid #333;
    background-color: blue;
    margin: 20px;
}